<nav style="background-color: #464e57; padding: 15px;">

    <div style="display: flex; justify-content: center; gap: 25px;">

        <a href="{{ url_for('index') }}" style="color: white;">
            Inicio
        </a>

        <a href="{{ url_for('productos') }}" style="color: white;">
            Productos
        </a>

        <a href="{{ url_for('clientes') }}" style="color: white;">
            Clientes
        </a>

        <a href="{{ url_for('proveedores') }}" style="color: white;">
            Proveedores
        </a>

        <a href="{{ url_for('facturacion') }}" style="color: white;">
            Facturación
        </a>

        {% if usuario_actual.is_authenticated %}

            <span style="color: rgb(238, 238, 238);">
                Usuario:
                <strong>
                    {{ usuario_actual.usuario }}
                </strong>
            </span>

            <a
                href="{{ url_for('logout') }}"
                style="background-color: #978ae4; color: white; padding: 5px 10px; border-radius: 5px;">
                Cerrar sesión
            </a>

        {% endif %}

    </div>

</nav>